@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700;800;900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

.bg-header {
  background-image: url("../public/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}
