@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700;800;900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

.bg-header {
  background-image: url("../public/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-linear {
  background: linear-gradient(180deg, #00ff85 0%, #7400e8 53.64%, #00d1ff 100%);
  opacity: 0.58;
}

.animationGenerate {
  animation: animationGenerating ease-in infinite;
  animation-duration: 4s;
}

@keyframes animationGenerating {
  0% {
    top: 0;
  }
  50% {
    top: 100%;
  }
  100% {
    top: 0;
  }
}

.fade-in-down {
  animation: fadeInDown 0.4s forwards;
  opacity: 0;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.transition-right {
  animation: transitionRight 0.4s forwards;
}

@keyframes transitionRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
